.equipments-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.equipments-list__featured {
    padding: 1rem;
    width: 100%;
}

.equipments-list__featured .card {
    border: 2px solid #ffd700;
    background: linear-gradient(to bottom, #fff9e6, #ffffff);
}

.equipments-list__rest {
    display: flex;
    overflow-x: auto;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    max-width: 100%;

    .card {
        min-width: 300px;
    }
}

.equipments-list .card {

    display: grid;
    grid-template-rows: 4rem auto 3rem;

    .card__header h3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .card__header h3 div {
        height: 2rem;
    }

    .card__header h3 div svg {
        width: 2rem;
        height: 2rem;
    }

    img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        background-color: #f0f0f0;

    }
}
