.equipments-list {
    display: grid;
    grid-template-columns: repeat(auto, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.equipments-list .card {

    display: grid;
    grid-template-rows: 4rem auto 3rem;

    &:first-child {
        grid-column: span 2;
    }

    .card__header h3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .card__header h3 div {
        height: 2rem;
    }

    .card__header h3 div svg {
        width: 2rem;
        height: 2rem;
    }

    img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        background-color: #f0f0f0;

    }
}

@media (min-width: 576px) {

    .equipments-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .equipments-list .card:first-child {
        grid-column: span 1;
    }
}
