#app-container {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: 4.25rem auto;
    min-height: 100vh;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}