#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-base-primary);
    height: 4.25rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, var(--text-color-muted), transparent) 1;
}

#main-nav a.nav-link {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
}

#main-nav a.nav-link.active {
    color: var(--primary-color);
}  