.card {
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    overflow: hidden;
    --border-bg: linear-gradient(to right, var(--bg-base-secondary), var(--bg-base-tertiary), var(--bg-base-secondary));
}

.card__header {
    padding: 1rem;
    background-color: var(--bg-base-secondary);
    border-bottom: 1px solid;
    border-image: var(--border-bg);
    border-image-slice: 1;
}

.card__header h2,
.card__header h3 {
    margin: 0;
}

.card__body {
    padding: 1rem;
    background-color: var(--bg-base-secondary);
}

.card__footer {
    padding: 1rem;
    background-color: var(--bg-base-secondary);
    border-top: 1px solid;
    border-image: var(--border-bg);
    border-image-slice: 1;
}

.card__footerText {
    text-align: center;
    margin: 0;
    font-size: 0.85rem;
}