.toast {
    position: fixed;
    bottom: calc(var(--main-view-bottom) + 1rem);
    right: 1rem;
    z-index: 1000;
    width: clamp(350px, auto, 500px);
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem 1rem 0.5rem;
    border-radius: .25rem;
    color: var(--text-color);
    background-color: var(--bg-light);
    border: 1px solid transparent;
    animation: slideIn .5s ease-in-out forwards;
}

.toast--onClose {
    animation: slideOut .5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.toast::after {
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    background: var(--text-color);
    width: 0;
    height: 0.25rem;
    opacity: 0.25;
    animation: progressBar 5s linear forwards;
}

@keyframes progressBar {
    to {
        width: 100%;
    }
}

.toast__close {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text-color);
    opacity: 0.6;
    cursor: pointer;
}

.toast__close:hover {
    opacity: 1;
}

.toast--success {
    background-color: var(--success-bg);
    color: var(--success-color);
    border-color: var(--success-color);
}

.toast--warning {
    background-color: var(--warning-bg);
    color: var(--warning-color);
    border-color: var(--warning-color);
}

.toast--error {
    background-color: var(--error-bg);
    color: var(--error-color);
    border-color: var(--error-color);
}

.toast--info {
    background-color: var(--info-bg);
    color: var(--info-color);
    border-color: var(--info-color);
}
