.toast {
    position: fixed;
    bottom: 5rem;
    right: -110%;
    z-index: 1000;
    padding: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    animation: show-and-hide 10s ease-in-out forwards;
}

@keyframes show-and-hide {
    0%, 100% {
        right: -110%;
    }
    10%, 90% {
        right: 1rem;
    }
}

.toast.warning {
    background-color: var(--warning-bg);
    color: var(--warning-color);
    border-color: var(--warning-color);
    color: var(--text-color);
}