:root {
    /* Colors */
    --primary-color: hsl(15, 100%, 50%);
    --primary-color-dark: hsl(15, 100%, 30%);
    --grey-light: hsl(0, 0%, 90%);
    --grey-medium: hsl(0, 0%, 50%);
    --grey-dark: hsl(0, 0%, 10%);

    /* Text */
    --text-color: hsl(0, 0%, 10%);
    --text-color-muted: hsl(0, 0%, 50%);
    --text-color-light: hsl(0, 0%, 80%);

    /* Background */
    --bg-white: hsl(0, 0%, 100%);
    --bg-light: hsl(0, 0%, 80%);
    --bg-dark: hsl(0, 0%, 10%);

    /* Error */
    --error-color: hsl(0, 100%, 40%);
    --error-bg: hsl(0, 100%, 90%);

    /* Warning */
    --warning-color: hsl(40, 100%, 40%);
    --warning-bg: hsl(40, 100%, 90%);

    /* Success */
    --success-color: hsl(150, 100%, 30%);
    --success-bg: hsl(150, 100%, 90%);

    /* Info */
    --info-color: hsl(200, 100%, 50%);
    --info-bg: hsl(200, 100%, 90%);

    /* Positions and sizes */
    --main-view-bottom: 0rem;
}

@media (max-width: 576px) {
    :root {
        --main-view-bottom: 4.25rem;
    }
}